@font-face {
    font-family: 'Raleway';
    src: url('@/assets/scss/fonts/Raleway/Raleway-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('@/assets/scss/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('@/assets/scss/fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('@/assets/scss/fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto Black';
    src: url('@/assets/scss/fonts/Roboto/Roboto-Black.ttf');
}
